<li class="reader-item{{#active}} js-active{{/active}}{{^read}} font-weight-bold{{/read}}">
  <a class="js-link row py-1 {{^read}}text-dark{{/read}}{{#read}}text-secondary{{/read}}{{#active}} bg-lighter{{/active}}" href="{{item_url}}">
    <span class="col-md-12 text-truncate">{{title}}</span>
  </a>
</li>
